footer {
  background-color: #1c1c1c;
  padding: 50px 0px;
  height: 403px;
}
footer .group{
  justify-content: space-between;
}
footer .group .left{
  margin: 0;
}
footer .group .left h1{

}
footer .group .left h1 a{
  background-image: url(../img/footerLogo.png);
  background-repeat: no-repeat;
  width: 172px;
  height: 43px;
  font-size: 0;
  margin: 20px 0 70px 0;
  display: block;
}
footer .group .left ul{

}
footer .group .left ul li{
 
}
footer .group .left ul li a{
  color: #565656;
}
footer .group .left ul li:nth-child(1) a{  
  color: #bbb;
}
footer .group .left ul li:not(:last-child) a::after{
  content: "｜";
  margin: 10px;
}
footer .group .left address{
  color: #565656;
  margin-top: 40px;
  margin-bottom: 10px;
}
footer .group .left address span{
  
}
footer .group .left p.tel{
  color: #565656;
  margin-bottom: 60px;
}
footer .group .left p.coppy{ 
  color: #303030;
  grid-column: 1;
  grid-row: 3;
}
footer .group .right{
  margin: 0;
  align-items: end;
}
footer .group .right .at{
  position: relative;
  margin-bottom: 50px;
}
footer .group .right .at a.arrow{
  border-radius: 100%;
  width: 100px;
  border: solid 1px #787878;
  height: 100px;
  position: relative;
  font-size: 0;
  background-repeat: no-repeat;
  display: block;
}
footer .group .right .at a.arrow::after{
  content: "";
  background-image: url(../img/topArrow.png);
  display: inline-block;
  width: 25px;
  height: 32px;
  position: absolute;
  left: 38px;
  top: 35px;
}
footer .group .right .at a.top{
  width: 100px;
  height: 100px;
  border-radius: 100%;
  color: white;
  background-color: green;
  text-align: center;
  line-height: 6.5;
  display: block;
  position: absolute;
  top: 1px;
  left: 1px;
  opacity: 0;
  transition: 0.5s;
}
footer .group .right .at a.top:hover{
  opacity: 1;
}
footer .group .right ul.mark{
  margin-bottom: 44px;
}
footer .group .right ul.mark li{
  margin-left: 20px;
}
footer .group .right ul.mark li:nth-child(1){ 
  background-image: url(../img/mark1.png);
  background-repeat: no-repeat;
  width: 125px;
  height: 45px;
  font-size: 0;
}
footer .group .right ul.mark li:nth-child(2){
  background-image: url(../img/mark2.png);
  background-repeat: no-repeat;
  width: 54px;
  height: 54px;
  font-size: 0;
}
footer .group .right ul.mark li:nth-child(3){
  background-image: url(../img/mark3.png);
  background-repeat: no-repeat;
  width: 53px;
  height: 55px;
  font-size: 0;
}
footer .group .right ul.mark li:nth-child(4){
  background-image: url(../img/mark5.png);
  background-repeat: no-repeat;
  width: 59px;
  height: 55px;
  font-size: 0; 
}
footer .group .right ul.mark li:nth-child(5){
  background-image: url(../img/mark6.png);
  background-repeat: no-repeat;
  width: 59px;
  height: 55px;
  font-size: 0; 
}
footer .group .right select{
  background-color: transparent;
  color: #565656;
  padding-left: 10px;
  width: 220px;
  height: 48px;
  text-align: initial;
  font-size: 15px;
  font-weight: 500;
  margin-bottom: 60px;
  border: solid 0px;
  border-bottom: solid 1px #2a2a2a;
}
footer .group .right select::after{
  content: "";
  display: inline-block;
  background-image: url(../img/family.svg);
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background-size: contain;
  margin-left: 93px;
  vertical-align: -4px;
}
footer .group .right select option{
  background-color: #121212;
  border: none;
}
footer .group .right ul.sns{  
  position: fixed;
  bottom: 45px;
}
footer .group .right ul.sns li{
  font-weight: 550;
}
footer .group .right ul.sns li a{  
  margin-left: 20px;
}
footer .group .right ul.sns li a.blog::before{
  content: "";
  background-image: url(../img/blogblack.png);
  width: 19px;
  height: 17px;
  display: inline-block;
  vertical-align: -4px;
  padding-right: 6px;
  background-repeat: no-repeat;
}
footer .group .right ul.sns li a.insta::before{
  content: "";
  background-image: url(../img/instagramblack.png);
  width: 19px;
  height: 17px;
  display: inline-block;
  vertical-align: -4px;
  padding-right: 4px;
  background-repeat: no-repeat;
}
footer .group .right ul.sns li a.you::before{
  content: "";
  background-image: url(../img/youtubeblack.png);
  width: 19px;
  height: 17px;
  display: inline-block;
  vertical-align: -4px;
  padding-right: 8px;
  background-repeat: no-repeat;
}
.currentSNS{
  color: #fff;
}
footer .group .right ul.sns li a.blog.currentSNS::before{
  background-image: url(../img/blogIcon.png); 
}
footer .group .right ul.sns li a.insta.currentSNS::before{
  background-image: url(../img/instagramIcon.png);
}
footer .group .right ul.sns li a.you.currentSNS::before{
  background-image: url(../img/youtubeIcon.png); 
}