#new{
  background-image: url('../img/factoryBg.jpg');
  background-size: cover;
  clip-path: polygon(15% 20%, 85% 20.00%, 85% 50%, 15% 50%);
  transition: 5s;
}
#new div.wrap{   
  display: flex;
  align-items: center;
  text-align: center;
}
#new div.wrap h2.h5{   
  font-size: 20px;
  font-weight: 700;
  color: #fff;
}
#new div.wrap p.h2{   
  font-weight: 600;
  line-height: 1.2;
  margin: 40px 0 130px 0;
  color: #fff;
}
#new div.wrap .flex{   
  gap: 350px;
}
#new div.wrap .flex ul{
   
}
#new div.wrap .flex ul img{   
  width: 66px;
  height: 75px;
}
#new div.wrap .flex ul li{   
  font-size: 20px;
  margin: 60px 0 30px 0;
  color: #fff;
}
#new div.wrap .flex ul p.p{
  font-size: 16px;
  font-weight: 300;
  color: #666666;
}
.clipFull{
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%) !important;
}