#offer{
  background-color: #f7f6f1;
  /*! overflow: hidden; */
}
#offer div.flex{   
  justify-content: center;
  align-items: center;
  max-width: 100%;
  flex-wrap: wrap;
}
#offer .wrap{
  
  width: 1500px;
  /*! grid-row: 1; */
  justify-content: space-between;
  /*! display: inherit; */
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  margin-top: 40px;
}
#offer div.flex h2{   
  font-size: 20px;
  font-weight: 700;
  color: #077c34;
  grid-column: 1;
  grid-row: 1;
}
#offer div.flex p.h2{   
  font-weight: 600;
  line-height: 1.2;
  grid-row: 2;
  margin-top: 30px;
}
#offer .wrap .radius{  
  grid-column: 2;
  grid-row: 1/ span 2;
  position: relative;
  /*! margin-left: 544px; */
  right: 123px;
  top: 48px;
}
#offer .wrap .radius a.arrow{
   border-radius: 100%;
   display: inline-block;
   width: 120px;
   border: solid 1px green;
   height: 120px;
   position: absolute;
   font-size: 0;
}
#offer .wrap .radius a.arrow::after{
  content: "";
  background-image: url(../img/linkArrow.png);
  background-repeat: no-repeat; 
  display: inline-block;
  height: 23px;
  width: 23px;
  background-size: contain;
  position: absolute;
  left: 47px;
  top: 51px;
}
#offer .wrap .radius a.green{
  width: 120px;
  height: 120px;
  border-radius: 100%;
  color: white;
  background-color: green;
  text-align: center;
  line-height: 7.5;
  display: block;
  position: absolute;
  top: 1px;
  left: 1px;
  opacity: 0;
  transition: 0.5s
}
#offer .wrap:hover a.green{
  opacity: 1;
}
#offer div .Horizontal{
  width: 1903px;
  overflow-x: hidden;
  position: relative;
}
#offer .custom-cursor {
  cursor: pointer; /* 기본 커서 스타일 */
}

#offer div.flex img{   
  width: 4970px;
  height: 337px;
  max-width: initial;

  /*! cursor: col-resize; */
  padding: 0 calc((100% - 1500px) / 2);
}
#offer div.flex ol{  
  width: 100%;
  position: relative;
  z-index: 1;
  padding-left: calc((100% - 1500px) / 2);
  padding-top: 50px;
}
#offer div.flex ol::before{
  content: "";
  border-top: 1px solid #ddd;
  position: absolute;
  width: 4970px;
  top: 75%;
  z-index: -1;
  padding-left: 0 calc((100% - 1500px) / 2);
}
#offer div.flex ol li{
  color: #077c34;
  font-weight: 500;
  font-size: 18px;
  width: 100%;
  display: inherit;
  position: relative;
  line-height: 2.8;
}
#offer div.flex ol li:nth-child(1){
  left: 18%;
}
#offer div.flex ol li:nth-child(2){ 
  left: 39%;
}
#offer div.flex ol li:nth-child(3){ 
  left: 65%;
}
#offer div.flex ol li:nth-child(4){ 
  left: 86%;
}
#offer div.flex ol li:nth-child(5){
  left: 115%;
}
#offer div.flex ol li:nth-child(6){ 
  left: 134%;
}
#offer div.flex ol li::before{
  content: "";
  border-radius: 30px;
  display: inline;
  border: solid 1px;
  position: absolute;
  height: 48px;
  background-color: #f7f6f1;
  z-index: -1;
}
#offer div.flex ol li:nth-child(1)::before{
  width: 135px;
}
#offer div.flex ol li:nth-child(2)::before{
  width: 147px;
}
#offer div.flex ol li:nth-child(3)::before{
  width: 131px;
}
#offer div.flex ol li:nth-child(4)::before{
  width: 197px;
}
#offer div.flex ol li:nth-child(5)::before{
  width: 131px;
}
#offer div.flex ol li:nth-child(6)::before{
  width: 135px;
}
#offer div.flex ol li span{
  border-radius: 100%;
  width: 30px;
  height: 30px;
  background-color: green;
  color: #f7f6f1;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 11px 10px 0 10px;
  font-size: 15px;
 }