section#who{

}
section#who div.wrap{  

}
section#who div.wrap .animation{
  animation-name: down;
  animation-duration: 0.5s;
  animation-timing-function: ease-in;
}
@keyframes down{
  0%{
   transform: translateY(0); 
   opacity: 1;
  }
  100%{
   transform: translateY(20px); 
   opacity: 0; 
  }
}
section#who div.wrap .animation h2{ 
  font-size: 20px;
  font-weight: 700;
  color: #077c34;
}
section#who div.wrap .animation p{
  font-weight: 600;
  margin: 20px 0 60px 0;
}
.slick-prev{  
  left: 91% !important;
  top: -75px !important;
}
.slick-prev::before{
  background-image: url(../img/prevArrow.png);
  content: "" !important;
  width: 51px;
  height: 23px;
  display: block;
}
section#who div.wrap figure{   
  position: relative;
  grid-column: 1 /span2;
}
section#who div.wrap figure img{   
  border-radius: 20px;
  margin-right: 60px;
}
section#who div.wrap figure figcaption{
  text-align: end;
  position: absolute;
  bottom: 53px;
  right: 55px;
  font-size: 47px;
  line-height: 1.2;
  color: white;
  font-weight: 600;
}
.slick-next{  
  left: 97% !important;
  top: -75px !important;
}
.slick-next::before{
  background-image: url(../img/nextArrow.png);
  content: "" !important;
  width: 51px;
  height: 23px;
  display: block;
}