section#who{
  overflow-x: hidden;
}
section#who div.wrap{  
  max-width: calc(1500px + ((100vw - 1500px) / 2));
  transform: translateX(calc((100vw - 1500px) / 2));
  overflow-x: hidden;
  margin: initial;
}
section#who div.wrap .animation{

}
section#who div.wrap .animation h2{ 
  font-size: 20px;
  font-weight: 700;
  color: #077c34;
}
section#who div.wrap .animation p{
  font-weight: 600;
  margin: 20px 0 60px 0;
}
section#who .slick-prev{  
  left: 77% !important;
  top: -75px !important;
}
section#who .slick-prev::before{
  background-image: url(../img/prevArrow.png);
  content: "" !important;
  width: 51px;
  height: 23px;
  display: block;
}
section#who .slick-list{
  transform: translateX(-214px);
  overflow: initial;
  padding-left: 170px !important;
}
section#who div.wrap figure{   
  position: relative;
  grid-column: 1 /span2;
  padding: 0px 44px;
}
section#who div.wrap figure img{   
  border-radius: 20px;
}
section#who div.wrap figure figcaption{
  text-align: end;
  position: absolute;
  bottom: 53px;
  right: 85px;
  font-size: 47px;
  line-height: 1.2;
  color: white;
  font-weight: 600;
}
section#who .slick-next{  
  left: 82% !important;
  top: -75px !important;
}
section#who .slick-next::before{
  background-image: url(../img/nextArrow.png);
  content: "" !important;
  width: 51px;
  height: 23px;
  display: block;
}